html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-color: #add1bb;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

main {
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header{
    width: 100%;
    height: 200px;
    background-color: aqua ;
    position: absolute;
    padding-left: 20px;
    font-size: 1000%;
    text-align: center;
}

.meny {
    position: fixed;
    width: 15%;
    height: 100%;
}

.meny {
    background-color: #726e75;
    box-shadow: 0 .5rem 1rem rgba(44, 17, 40, 0.815);
}

.meny > ul {
    display: flex;
    justify-content: space-evenly;
}

.meny > ul > li {
    list-style-type: none;
    padding: 0.25em;
    font-size: 1.6em;
}

.meny > ul > li > a {
    text-decoration: none;
    color: #2e1919;
}
.vänster-sak { 
    background-color: #726e75;
    position: fixed;
    width: 15%;
    height: 100%;

}

ul {
    margin: 0;
    padding-inline-start: 0;
}

section {
    margin: 0 auto;
    margin-top: 210px;
    width: 65%;
    height: 100%;
}

footer {

}

a {
    color: #303c44;
}

a:hover {
    color: #4b5358;
    
}

.bild {
    width: 200px;
    height: 200px;
}
.bild2 {
    width: 1500px;
    height: 1500px;
}
.bild3 {
    width: 500px;
    height: 500px;
}

p {    
    margin: 0%

}

@media screen and (max-width: 600px) {
    header>ul {
        flex-direction: column;
        align-items: center;
    }
}
